.jumbotron
	%h1 Wildfires	
	<a class="btn btn-primary" href="/" role="button">Wildfires home »</a>
	<a class="btn btn-primary" href="/wildfires/new" role="button">Add a wildfire »</a>

<div class="container">
%h3 Active Fires
- @wildfires.each do |w|
	<div class="col-lg-2">
	Category:
	= w.category
	%br
	Status:
	= w.status
	%br
	Location ID:
	= w.location_id
	%br
	%br
	</div>
</div>


