.jumbotron
	%h1 Wildfires	
	<a class="btn btn-primary" href="/" role="button">Wildfires home »</a>
	<a class="btn btn-primary" href="/wildfires/new" role="button">Add a wildfire »</a>
	<a class="btn btn-xl btn-danger" href="/wildfires/#{@wildfire.id}/download_fire_pic" role="button">Download Fire Pic »</a>
%br


.container
= image_tag @wildfire.fire_pic.url
