.jumbotron
	%h1 Wildfires	

	<a class="btn btn-primary" href="/wildfires" role="button">All wildfires »</a>
	<a class="btn btn-primary" href="/locations" role="button">All locations »</a>
	<a class="btn btn-primary" href="/wildfires/active_fires" role="button">All active wildfires »</a>
